
footer {
  margin-top: 4rem;
  padding: 1rem;
  background: #aaa;
  color: #fff;
  text-align: center;
}

footer h2 {
  color: #fff;
}

footer li {
  display: inline-block;
  margin-bottom: 1em;
}
footer li + li {
  margin-left: 2rem;
}
footer a {
  text-decoration: none;
}

footer a {
  display: inline-block;
  text-align: center;
  width: 6.2rem;
  height: 6.2rem;
  line-height: 6.2rem;
  border-radius: 33% 67%;;
  color: #fff;
  text-decoration: none;
  background: #666;
  font-size: 1.4rem;
  vertical-align: middle;
  transition: all .3s ease;
}
footer a:hover,
footer a:focus {
  transform: rotate(360deg);
  background: $headings-1-color;
  color: #fff;
}
