/* Gallery */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery > a {
  flex: auto;
  width: 30%;
  margin: 0 6px 6px 0;
}

.gallery img {
  height: 70px;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
  transition: transform .2s;
}


/* RWD gallery  */

@media (max-width: $medium-plus-screen) {
  .gallery > a {
    flex:none;
    width: 100px;
  }
}

@media (min-width: ($medium-plus-screen + 1)) {
  .gallery img {
//    width: 100%;
  }
  .gallery:hover img {
    filter: brightness(.5) grayscale(1);
  }
  .gallery img:hover {
    position: relative;
    filter: brightness(1) grayscale(0);
    transform: scale(2);
    z-index: 1;
  }
}
