/* navigation menu */

nav {
  font-weight: normal;
  font-size: 3rem;
  font-family: calendas, georgia, serif;

  text-rendering: optimizeLegibility;
  font-feature-settings: "swsh", "liga", "dlig";
  -webkit-font-smoothing: antialiased;

  margin-bottom: 2em;
}

nav h1 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1em;
}

nav a {
  display: block;
  padding: .4em 1em .4em .4em;
  color: $headings-1-color;
  text-decoration: none;
}

@media (max-width: $tiny-plus-screen) {
  nav > h1, nav > a {
    margin-bottom: 2px;
  }

  nav > h1 a {
    background: dodgerblue;
  }
  nav > *:nth-child(2) {
      background: orange;
  }
  nav > *:nth-child(3){
      background: hotpink;
  }
  nav > *:nth-child(4) {
      background: olivedrab;
  }
  nav > *:nth-child(5) {
      background: slategray;
  }
  nav  a {
    color: #fff;
  }
  nav a:hover,
  nav a:focus,
  nav a:active {
    color: #fff;
    background: #49535d !important;
  }

  /* preventing from overflow */
  html,
  body {
    overflow-x: hidden;
  }
}

  /* Button deco */

.nav-button {
  display: none;
  flex: initial;
  position: absolute;
  z-index: 1;
  align-self: flex-start;
  height: 3.5rem;
  width: 3.5rem !important;
  background-color: transparent;
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 28%;
  padding: 0;
  outline: 0;
  border: 0;
  color: #333;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: .25s;
  will-change: transform, background-image;
 }
.nav-button::before,
.nav-button::after {
  content: "";
  position: absolute;
  left: 0; right: 0;
  display: block;
  height: 26%;
  background: currentColor;
  transition: .5s;
}
.nav-button::before {
  top: 0;
}
.nav-button::after {
  bottom: 0;
}
  /*  Removing Firefox's dotted outline on button */
.nav-button::-moz-focus-inner {
  border: 0;
 }
  
  @media (max-width: 480px) {
  .js-enabled html,
  .js-enabled body {
    overflow-x: hidden; /* you shall not pass! */
  }
  .js-enabled .nav-button {
    display: inline-block;
  }
  .js-enabled nav {
    position: absolute;
    width: 60vw;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0; /* will be under everything */
    font-size: 2.2rem;
  }
  /* styling opened nav */
  .js-enabled [id="main"] {
    position: relative;
    transition: transform .25s;
    will-change: transform;
    min-height: 100vh;
    z-index: 1;
    background: #eee;
  }
  .js-enabled [id="main"].is-opened {
    transform: translateX(60vw);
  }

  /* Theming opened nav button */
[id="main"].is-opened .nav-button {
   background-image: none;
 }
[id="main"].is-opened .nav-button::before {
   transform: rotate(45deg) translate(.95rem, .9rem) translateZ(0);
 }
[id="main"].is-opened .nav-button::after {
   transform: rotate(-45deg) translate(.95rem, -.9rem) translateZ(0);
 }



}



@media (min-width: ($tiny-plus-screen + 1)) {
  nav {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  nav h1 {
    width: 100%;
    text-align: center;
  }
  nav h1 span {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  nav h1 a::before {
    display: inline-block;
    width: 17rem;
    height: 17rem;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    background: $headings-1-color;
    background: radial-gradient(ellipse at left top, #213549 0%, $headings-1-color 80%);
    box-shadow: 0 0 0 .8rem $headings-1-color, 1.1rem 1.1rem 5px rgba(0, 0, 0, .3);
    color: #fff;
    content: attr(data-abbr);
    text-align: center;
    font-size: 9rem;
    line-height: 16rem;

    transform: scale(1);
    transition: .25s transform cubic-bezier(.28, -0.47, .89, 1.97);
  }
  nav h1 a:hover::before {
    transform: scale(1.1);
  }



  nav > a {
    width: 40%;
    text-align: center;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: center bottom;
    transition: background-size .25s;
  }
  nav > a:hover,
  nav > a:focus {
    background-size: 100% 5px;
    color: $base-color-link-hover;
  }
}

@media (min-width: ($medium-plus-screen + 1)) {
  nav a:nth-of-type(-n+2) {
    order: -1;
  }
  nav > a,
  nav h1 {
    width: auto;
  }
}

