/* Scroll to top */

a.to-top {
  display: none;

  @media (width < 62rem) {
    display: inline-grid;
    z-index: 100;
    position: fixed;
    right: var(--spacing-24);
    bottom: var(--spacing-20);
    place-content: center;
    width: var(--spacing-36);
    height: var(--spacing-36);
    border-radius: 50%;
    background: var(--colors-orange-50);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: var(--colors-white);
    font-weight: var(--font-weight-extrabold);
    line-height: 1;
    text-decoration: none;
    animation: scroll-top auto linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0 150dvh;
  }

  &:focus,
  &:focus-visible {
    background: var(--colors-orange-50);
    color: var(--colors-white);
  }
}

@keyframes scroll-top {
  from,
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
