/* Styles perso */
@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/calendas.woff2") format("woff2");
  font-family: "calendas";
  font-display: swap;
}

:target {
  scroll-margin-block: 3rem;
}

.offscreen {
  content-visibility: auto;
  contain-intrinsic-size: auto 500px;
}

.d-block {
  display: block;
}

body {
  color: var(--colors-gray-95);
  font-weight: var(--font-weight-extralight);
  font-size: var(--font-size-18);

  @media (prefers-color-scheme: dark) {
    color: var(--colors-gray-10);
  }
}

h1,
h2,
h3 {
  font-family: var(--font-family-calendas);
  font-feature-settings: "swsh", "liga", "dlig";
}

h1 {
  margin-top: 0;
  color: var(--colors-orange-60);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-30);

  @media (width >= 36rem) {
    font-size: var(--font-size-48);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--colors-orange-30);
  }
}

h2 {
  margin-top: 0;
  margin-bottom: var(--spacing-24);
  font-size: var(--font-size-24);

  @media (width >= 36rem) {
    font-size: var(--font-size-36);
  }
}

h3 {
  width: fit-content;
  margin-top: 0;
  margin-bottom: var(--spacing-20);
  font-size: var(--font-size-20);

  @media (width >= 36rem) {
    font-size: var(--font-size-30);
  }
}

ul {
  padding-left: var(--spacing-12);

  @media (width >= 62rem) {
    padding-left: var(--spacing-16);
  }
}
ul.list {
  list-style-type: square;
}

li {
  margin-bottom: var(--spacing-8);
}

p {
  margin-block: var(--spacing-16);
}

a {
  color: var(--colors-green-50);

  &:hover,
  &:focus {
    color: var(--colors-green-60);
    text-decoration: none;
  }

  &:focus-visible {
    outline: 0;
    outline: dashed var(--spacing-2) currentColor;
    outline-offset: var(--spacing-2);
    box-shadow: none;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--colors-orange-20);

    &:hover,
    &:focus {
      color: var(--colors-orange-30);
    }
  }
}

.body-deco {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 6px;
  background-image: linear-gradient(
    to right,
    var(--colors-orange-50),
    var(--colors-hotpink)
  );

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(
      to right,
      var(--colors-orange-30),
      var(--colors-hotpink)
    );
  }

  @media (width >= 62rem) {
    position: fixed;
  }
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
  padding: var(--spacing-24) var(--spacing-10);
  gap: var(--spacing-16);

  @media (width >= 62rem) {
    grid-template-columns: 12rem 1fr 10rem;
    grid-template-areas:
      "header     main   ."
      "navigation main   ."
      "footer     footer footer";
    margin-inline: auto;
    padding: var(--spacing-36);
    gap: var(--spacing-24);
  }

  @media (width >= 87.5rem) {
    padding: var(--spacing-48) var(--spacing-36);
    gap: var(--spacing-48);
  }
}

.header {
  grid-area: header;
}
.nav-main {
  grid-area: navigation;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.header {
  @media (width >= 62rem) {
    position: fixed;
    left: var(--spacing-24);
    max-width: 12rem;
  }

  @media (width >= 87.5rem) {
    left: var(--spacing-36);
  }
}

.biopic-img {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);

  animation: blob auto linear both;
  animation-timeline: scroll(root);
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.title-main {
  width: fit-content;
  margin: 0;

  @media (width >= 36rem) {
    text-align: end;
  }
}
@supports (-webkit-background-clip: text) or (background-clip: text) {
  .title-link {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      var(--colors-orange-50),
      var(--colors-hotpink)
    );
    transition: background 1s;
    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        to right,
        var(--colors-orange-30),
        var(--colors-hotpink)
      );
    }

    &:hover,
    &:focus {
      background-position: 12rem center;
    }
  }
}

.title-subtitle {
  margin-block: var(--spacing-10);

  color: var(--colors-gray-90);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-20);
  font-family: var(--font-family-calendas);
  font-feature-settings: "swsh", "liga", "dlig";

  @media (prefers-color-scheme: dark) {
    color: var(--colors-gray-50);
  }

  @media (width >= 62rem) {
    font-size: var(--font-size-24);
    text-align: end;
  }
}

.social-group {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: var(--spacing-8);

  @media (width >= 62rem) {
    justify-content: end;
  }
}
.social-link {
  padding: var(--spacing-10);

  @media (width >= 62rem) {
    padding: var(--spacing-4);
  }
}
.social-link svg {
  transition: 0.25s scale;
}
.social-link:hover svg,
.social-link:focus svg {
  scale: 1.2;
}

.section {
  margin-bottom: var(--spacing-16);

  padding: var(--spacing-16);
  border-radius: var(--border-radius-md);

  @media (width >= 62rem) {
    margin-bottom: var(--spacing-36);
    padding: var(--spacing-36);
  }

  background-color: rgba(0, 0, 0, 0.05);

  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:nth-of-type(1),
  & p:nth-of-type(1) {
    margin-top: 0;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

h2::after {
  display: block;
  width: 66%;
  height: 2px;
  translate: 0 var(--spacing-12);
  background-image: linear-gradient(
    to right,
    var(--colors-orange-50),
    var(--colors-hotpink)
  );
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
}

.reel {
  display: flex;
  margin-block: var(--spacing-36);
  overflow-x: auto;
  gap: var(--spacing-16);
  -webkit-overflow-scrolling: touch;
}

.reel > * {
  flex-shrink: 0;
}

@supports (animation-timeline: scroll()) {
  .reel {
    --mask-width: 80px;

    animation: fade-mask linear auto both;
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      #000 var(--mask-width),
      #000 calc(100% - var(--mask-width)),
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 var(--mask-width),
      #000 calc(100% - var(--mask-width)),
      transparent
    );
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: calc(100% + var(--mask-width)) 100%;
    mask-size: calc(100% + var(--mask-width)) 100%;
    animation-timeline: scroll(self x);
    -webkit-mask-position: -80px center;
    mask-position: -80px center;
  }
}
@keyframes fade-mask {
  from {
    -webkit-mask-position: -80px center;
    mask-position: -80px center;
  }
  to {
    -webkit-mask-position: 0 center;
    mask-position: 0 center;
  }
}

.formation-figure {
  margin-inline: 0;
  padding-inline: 0;

  & img {
    border-radius: var(--border-radius-md);
  }

  & figcaption {
    margin-top: var(--spacing-4);
    font-style: italic;
    font-size: var(--font-size-14);
  }
}

.book-item img {
  height: 150px;

  @media (width >= 62rem) {
    height: 200px;
  }
}

.conf-item img {
  height: 150px;

  @media (width >= 62rem) {
    height: 250px;
  }
}

.logo-item {
  padding: var(--spacing-16);
  border-radius: var(--border-radius-md);
  background-color: rgba(255, 255, 255, 0.8);
}
.logo-item img {
  height: 50px;
}
.codepen {
  width: 300px;
}
.codepen-box {
  margin-top: var(--spacing-24);
}
.codepen-box-link {
  margin-inline: 0;
  padding-inline: 0;
}

/* Navigation principale */

.nav-main {
  display: none;
}
@media (width >= 62rem) {
  .nav-main {
    display: block;
    display: grid;
    position: fixed;
    right: var(--spacing-24);
    gap: var(--spacing-12);

    @media (width >= 87.5rem) {
      right: var(--spacing-36);
    }
  }
}

/* Animations navigation au scroll */
/* timeline-scope permet à :root d'être le référent */
:root {
  timeline-scope: --section-1, --section-2, --section-3, --section-4,
    --section-5, --section-6;
}

/* view-timeline désigne l'élément qui parcours la fenêtre */
.section:nth-of-type(1) {
  view-timeline: --section-1;
}
.section:nth-of-type(2) {
  view-timeline: --section-2;
}
.section:nth-of-type(3) {
  view-timeline: --section-3;
}
.section:nth-of-type(4) {
  view-timeline: --section-4;
}
.section:nth-of-type(5) {
  view-timeline: --section-5;
}
.section:nth-of-type(6) {
  view-timeline: --section-6;
}

.nav-link {
  animation-name: reveal, exit;
  animation-range:
    entry 0% entry 100%,
    exit 0% exit 100%;
  padding: var(--spacing-4) var(--spacing-12);
  border-right: 8px solid rgba(0, 0, 0, 0.2);
  text-align: end;
  text-decoration: none;
  animation-duration: auto;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.nav-link:nth-of-type(1) {
  animation-timeline: --section-1;
}
.nav-link:nth-of-type(2) {
  animation-timeline: --section-2;
}
.nav-link:nth-of-type(3) {
  animation-timeline: --section-3;
}
.nav-link:nth-of-type(4) {
  animation-timeline: --section-4;
}
.nav-link:nth-of-type(5) {
  animation-timeline: --section-5;
}
.nav-link:nth-of-type(6) {
  animation-timeline: --section-6;
}

@keyframes reveal {
  to {
    border-right: var(--spacing-8) solid;
  }
}
@keyframes exit {
  to {
    border-right: var(--spacing-8) solid rgba(0, 0, 0, 0.2);
  }
}

.footer {
  padding: var(--spacing-16);
  border-radius: var(--border-radius-md);
  background-color: var(--colors-pink-10);

  @media (prefers-color-scheme: dark) {
    background-color: var(--colors-pink-60);
  }

  & a {
    color: var(--colors-gray-95);
  }
  @media (prefers-color-scheme: dark) {
    & a {
      color: var(--colors-white);
    }
  }
}

/* Scroll to top */

a.to-top {
  display: none;

  @media (width < 62rem) {
    display: inline-grid;
    z-index: 100;
    position: fixed;
    right: var(--spacing-24);
    bottom: var(--spacing-20);
    place-content: center;
    width: var(--spacing-36);
    height: var(--spacing-36);
    border-radius: 50%;
    background: var(--colors-orange-50);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: var(--colors-white);
    font-weight: var(--font-weight-extrabold);
    line-height: 1;
    text-decoration: none;
    animation: scroll-top auto linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0 150dvh;
  }

  &:focus,
  &:focus-visible {
    background: var(--colors-orange-50);
    color: var(--colors-white);
  }
}

@keyframes scroll-top {
  from,
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
