.footer {
  padding: var(--spacing-16);
  border-radius: var(--border-radius-md);
  background-color: var(--colors-pink-10);

  [data-theme-preference="dark"] & {
    background-color: var(--colors-pink-60);
  }

  & a {
    color: var(--colors-gray-95);
  }
  [data-theme-preference="dark"] & {
    & a {
      color: var(--colors-white);
    }
  }
}
