<nav id="navigation" class="nav-main" role="navigation">
  <a href="#a-propos" class="nav-link">À propos</a>
  <a href="#livres" class="nav-link">Livres</a>
  <a href="#conferences" class="nav-link">Conférences</a>
  <a href="#formations" class="nav-link">Formations</a>
  <a href="#mon-univers" class="nav-link">Mon petit univers</a>
  <a href="#contact" class="nav-link">Contact</a>
</nav>