.switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (width >= 62rem) {
    justify-content: flex-end;
  }
}
.theme-switcher {
  --theme-switcher-radius: 40px;
  --theme-switcher-border: var(--colors-gray-95);
  --theme-switcher-border-size: 3px;
  --theme-switcher-background: var(--colors-gray-95);
  --theme-switcher-icon-size: 18px;
  --theme-switcher-icon-color: var(--colors-white);
  --theme-switcher-icon-background: #777777;

  display: inline-grid;
  justify-content: start;
  width: calc(
    var(--theme-switcher-icon-size) * 2 + var(--theme-switcher-border-size) * 2
  );
  padding: var(--theme-switcher-border-size);
  border: 0;
  border-radius: var(--theme-switcher-radius);
  outline-color: currentColor;
  outline-offset: 0.5em;
  background-color: var(--theme-switcher-background);
  line-height: 0;
  cursor: pointer;

  & * {
    pointer-events: none;
  }

  & > .theme-icon {
    padding: var(--theme-switcher-border-size);
    border-radius: var(--border-radius-full);
    background-color: var(--theme-switcher-icon-background);
    color: var(--theme-switcher-icon-color);
    transition: 0.3s translate;
  }

  & [class^="theme-icon-"] {
    width: var(--theme-switcher-icon-size);
    height: var(--theme-switcher-icon-size);
  }

  &[aria-pressed="true"] {
    --theme-switcher-border: #777777;
    --theme-switcher-background: #777777;
    --theme-switcher-icon-background: var(--colors-gray-95);

    & .theme-icon-light {
      display: none;
    }

    & > .theme-icon {
      translate: calc(
        var(--theme-switcher-icon-size) -
          (var(--theme-switcher-border-size) * 2)
      );
    }
  }

  &[aria-pressed="false"] {
    & .theme-icon-dark {
      display: none;
    }
  }
}
