<p>
  Aucun JavaScript n'a été maltraité durant la conception de cette page. En tout
  cas personne ne s'en est plaint (et certainement pas
  <a
    href="https://pagespeed.web.dev/analysis/https-goetter-fr/cayzw5p8e1?hl=fr&form_factor=mobile"
  >Google Pagespeed</a>).
</p>
<p>
  <em>Note à mon moi du futur, pour me souvenir au moment de la refonte
    décénnale de ce site perso. Cette version date originellement de fin 2023 et
    j'en ai profité pour y caser certaines nouveautés à la mode en ce
    moment&nbsp;: Grid Layout, Flexbox, Darkmode, Ligatures de polices,
    Scroll-driven animation (un peu trop d'ailleurs), @layer, Webp, Nesting,
    Clamp(), Background-clip, Lazy loading, Content-visibility, etc.</em>
</p>
<p>
  Site statique déployé dans Github Pages avec
  <a href="https://vitejs.dev/">Vite</a>,
  <a href="https://unocss.dev/">UnoCSS</a>
  et
  <a href="https://handlebarsjs.com/">Handlebars</a>. Le code source est publié
  sur
  <a href="https://github.com/raphaelgoetter/goetter-www">Github</a>.
</p>
<style>
  .footer { padding: var(--spacing-16); border-radius: var(--border-radius-md);
  background-color: var(--colors-pink-10); [data-theme-preference="dark"] & {
  background-color: var(--colors-pink-60); } & a { color: var(--colors-gray-95);
  } [data-theme-preference="dark"] & { & a { color: var(--colors-white); } } }

</style>
