<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
<link
  rel="preload"
  as="font"
  href="/fonts/calendas.woff2"
  type="font/woff2"
  crossorigin
/>
<link rel="preload" as="image" href="/images/bg-light.webp" />
<link rel="preload" as="image" href="/images/bg-dark.webp" />
<title>{{title}}</title>
<meta name="author" content="Raphaël Goetter" />
<meta name="geo.placename" content="Strasbourg, Alsace, France" />
<meta
  name="description"
  content="Site personnel de Raphael Goetter, créateur du site Alsacreations.com, intégrateur HTML5 et CSS3, auteur de quelques livres CSS. Alsacien et Bretzel d'Or."
/>
<meta
  name="keywords"
  content="strasbourg, alsace, site perso, webmaster, webdesigner, css, css3, html, html5, accessibilité, w3c, cv, compétences, standards, styles CSS, alsacreations"
/>