<a href="#body" class="scroll-to-top" title="retourner en haut de page">
  <svg width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
    <g fill="none">
      <path
        d="M24 0v24H0V0zM12.6 23.3h-.2v.5h.2v-.5m.3-.2-.2.1v.5l.2.1v-.6m-.8 0v.6h.2v-.5z"
      />
      <path
        fill="currentColor"
        d="M13 3.3a1.5 1.5 0 0 0-2 0L5.2 8.9a1.5 1.5 0 0 0 2.1 2.2L10.5 8v11.5a1.5 1.5 0 0 0 3 0V8l3.1 3a1.5 1.5 0 1 0 2.1-2z"
      />
    </g>
  </svg>
</a>