@layer config, base, components, utilities;

/* Config (reset, polices, themes, layouts) */
@import "./reset.css" layer(config);
@import "./theme.css" layer(config);
@import "./theme-tokens.css" layer(config);
@import "./layouts.css" layer(config);

/* Base */
@import "./styles.css" layer(base);

/* Components */
@import "./partials.css" layer(components);
