/* ----------------------------------
 * Polices
 * ----------------------------------
 */

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/calendas.woff2") format("woff2");
  font-family: calendas;
  font-display: swap;
}

/* ----------------------------------
 * Light/Dark mode
 * ----------------------------------
 */

:root {
  color-scheme: light dark;

  --surface: light-dark(var(--color-gray-05), var(--color-gray-80));
  --surface-dim: light-dark(
    rgb(from var(--color-black) r g b / 5%),
    rgb(from var(--color-black) r g b / 15%)
  );
  --layer: light-dark(var(--color-pink-20), var(--color-pink-60));
  --on-surface: light-dark(var(--color-gray-90), var(--color-gray-10));
  --color-link: light-dark(var(--color-green-60), var(--color-orange-30));
  --color-link-hover: light-dark(var(--color-green-60), var(--color-orange-30));
  --color-link-invert: light-dark(var(--color-gray-90), var(--color-gray-10));
  --color-title: light-dark(var(--color-orange-60), var(--color-orange-30));
  --color-subtitle: light-dark(var(--color-gray-70), var(--color-gray-40));
  --selection: light-dark(var(--color-orange-30), var(--color-orange-60));

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

/* Couleur de sélection */
*::selection {
  background: var(--selection);
}

/* ----------------------------------
 * Base
 * ----------------------------------
 */

:target {
  scroll-margin-block: 3rem;
}

html {
  background-image: url("/images/bg-light.webp");
  background-color: var(--surface);
  scroll-behavior: smooth;

  &[data-theme="dark"] {
    background-image: url("/images/bg-dark.webp");
  }
}

body {
  color: var(--on-surface);
  font-weight: var(--font-weight-light);
  font-size: var(--text-body);

  @media (width >= 40rem) {
    font-weight: var(--font-weight-extralight);
  }
}

/* ----------------------------------
 * Typographie, listes et titres
 * ----------------------------------
 */

h1,
h2,
h3 {
  font-family: var(--font-calendas);
  font-feature-settings: "swsh", "liga", "dlig";
}

h1 {
  margin: 0;
  font-size: var(--text-h1-level);
}

h2 {
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
  font-size: var(--text-h2-level);
}

h3 {
  width: fit-content;
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
  font-size: var(--text-h3-level);
}

ul {
  padding-left: var(--spacing-12);

  @media (width >= 64rem) {
    padding-left: var(--spacing-16);
  }

  &.list {
    list-style-type: square;

    & > li::marker {
      content: normal;
      color: currentcolor;
    }
  }
}

li {
  margin-bottom: var(--spacing-8);
}

p {
  margin-block: var(--spacing-16);
}

a {
  color: var(--color-link);

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    text-decoration: none;
  }

  &:focus-visible {
    outline: 0;
    outline: dashed var(--spacing-2) currentcolor;
    outline-offset: var(--spacing-2);
    box-shadow: none;
  }
}

h2::after {
  display: block;
  width: 66%;
  height: 2px;
  translate: 0 var(--spacing-12);
  background-image: linear-gradient(
    to right,
    var(--color-orange-50),
    var(--color-hotpink)
  );
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
}

/* ----------------------------------
 * Layouts (surcharge)
 * ----------------------------------
 */

.reel {
  --item-size: auto;
}

/* ----------------------------------
 * Section
 * ----------------------------------
 */

.section {
  margin-bottom: var(--spacing-medium);
  padding: var(--spacing-medium);
  border-radius: var(--radius-md);
  background-color: var(--surface-dim);

  &:nth-of-type(1),
  & p:nth-of-type(1) {
    margin-top: 0;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
