/* ----------------------------------
 * Polices
 * ----------------------------------
 */

@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/calendas.woff2") format("woff2");
  font-family: "calendas";
  font-display: swap;
}

/* ----------------------------------
 * Base (couleurs, polices)
 * ----------------------------------
 */

:target {
  scroll-margin-block: 3rem;
}

/* Couleur de sélection */
*::selection {
  background: var(--color-orange-20);
}
[data-theme-preference="dark"] *::selection {
  background: var(--color-orange-60);
}

html {
  background-image: url(/images/bg-light.webp);
  background-color: var(--color-white);
  scroll-behavior: smooth;

  &[data-theme-preference="dark"] {
    background-image: url(/images/bg-dark.webp);
    background-color: var(--color-black);
  }
}

body {
  color: var(--color-gray-95);
  font-weight: var(--font-weight-light);
  font-size: var(--text-body);

  @media (width >= 40rem) {
    font-weight: var(--font-weight-extralight);
  }

  [data-theme-preference="dark"] & {
    color: var(--color-gray-10);
  }
}

/* ----------------------------------
 * Typographie, listes et titres
 * ----------------------------------
 */

h1,
h2,
h3 {
  font-family: var(--font-calendas);
  font-feature-settings: "swsh", "liga", "dlig";
}

h1 {
  width: fit-content;
  margin: 0;
  font-size: var(--text-h1-level);
}

h2 {
  margin-top: 0;
  margin-bottom: var(--spacing-24);
  font-size: var(--text-h2-level);
}

h3 {
  width: fit-content;
  margin-top: 0;
  margin-bottom: var(--spacing-20);
  font-size: var(--text-h3-level);
}

ul {
  padding-left: var(--spacing-12);

  @media (width >= 64rem) {
    padding-left: var(--spacing-16);
  }
}
ul.list {
  list-style-type: square;

  & > li::marker {
    content: normal;
    color: currentColor;
  }
}

li {
  margin-bottom: var(--spacing-8);
}

p {
  margin-block: var(--spacing-16);
}

a {
  color: var(--color-green-50);

  &:hover,
  &:focus {
    color: var(--color-green-60);
    text-decoration: none;
  }

  &:focus-visible {
    outline: 0;
    outline: dashed var(--spacing-2) currentColor;
    outline-offset: var(--spacing-2);
    box-shadow: none;
  }

  [data-theme-preference="dark"] & {
    color: var(--color-orange-20);

    &:hover,
    &:focus {
      color: var(--color-orange-30);
    }
  }
}

h2::after {
  display: block;
  width: 66%;
  height: 2px;
  translate: 0 var(--spacing-12);
  background-image: linear-gradient(
    to right,
    var(--color-orange-50),
    var(--color-hotpink)
  );
  background-position: left bottom;
  background-repeat: no-repeat;
  content: "";
}

/* ----------------------------------
 * Layouts (surcharge)
 * ----------------------------------
 */

.reel {
  --item-size: auto;
}

/* ----------------------------------
 * Section
 * ----------------------------------
 */

.section {
  margin-bottom: var(--spacing-16);

  padding: var(--spacing-16);
  border-radius: var(--radius-md);

  @media (width >= 64rem) {
    margin-bottom: var(--spacing-36);
    padding: var(--spacing-36);
  }

  background-color: rgba(0, 0, 0, 0.05);

  [data-theme-preference="dark"] & {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:nth-of-type(1),
  & p:nth-of-type(1) {
    margin-top: 0;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
