.body-deco {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 6px;
  background-image: linear-gradient(
    to right,
    var(--color-orange-50),
    var(--color-hotpink)
  );

  [data-theme-preference="dark"] & {
    background-image: linear-gradient(
      to right,
      var(--color-orange-30),
      var(--color-hotpink)
    );
  }

  @media (width >= 64rem) {
    position: fixed;
  }
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
  padding: var(--spacing-24) var(--spacing-10);
  gap: var(--spacing-16);

  @media (width >= 64rem) {
    grid-template-columns: 12rem 1fr 10rem;
    grid-template-areas:
      "header     main   ."
      "navigation main   ."
      "footer     footer footer";
    margin-inline: auto;
    padding: var(--spacing-36);
    gap: var(--spacing-24);
  }

  @media (width >= 80rem) {
    padding: var(--spacing-48) var(--spacing-36);
    gap: var(--spacing-48);
  }
}

.header {
  grid-area: header;
}
.nav-main {
  grid-area: navigation;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.reel {
  display: flex;
  margin-block: var(--spacing-medium);
  overflow-x: auto;
  gap: var(--spacing-16);
  -webkit-overflow-scrolling: touch;
}

.reel > * {
  flex-shrink: 0;
}

/* Indicateur de scroll */

[data-scroll-fade] {
  /* Largeur de l'estompage */
  --scroll-fade-width: 150px;

  /* Masque dégradé transparent-noir-transparent */
  --mask-gradient: linear-gradient(
    to right,
    transparent,
    #000 var(--scroll-fade-width),
    #000 calc(100% - var(--scroll-fade-width)),
    transparent
  );

  /* Application du masque au-dessus de l'élément */
  mask-image: var(--mask-gradient);

  /* Position de départ du masque */
  mask-position: calc(-1 * var(--scroll-fade-width)) 0;

  /* Le masque doit être plus large que son parent */
  mask-size: calc(100% + var(--scroll-fade-width)) 100%;

  /* Animation lors du scroll horizontal */
  @supports (animation-timeline: scroll()) {
    animation: fade-mask linear forwards;
    animation-timeline: scroll(self x);
  }
}

/* Animation vers position finale du masque */
@keyframes fade-mask {
  to {
    mask-position: 0;
  }
}
