/* ----------------------------------
 * Header
 * ----------------------------------
 */

.header {
  @media (width >= 64rem) {
    position: fixed;
    left: var(--spacing-24);
    max-width: 12rem;
  }

  @media (width >= 80rem) {
    left: var(--spacing-36);
  }
}

.header-complementary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-12);

  @media (width >= 64rem) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

/* ----------------------------------
 * Theme
 * ----------------------------------
 */

.theme-switcher-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (width >= 64rem) {
    justify-content: flex-end;
  }
}

.theme-switcher {
  --theme-switcher-radius: 40px;
  --theme-switcher-padding: 2px;
  --theme-switcher-border-color: light-dark(#777777, #bbbbbb);
  --theme-switcher-border-size: 1px;
  --theme-switcher-background: light-dark(#333333, #777777);
  --theme-switcher-icon-size: 14px;
  --theme-switcher-icon-color: #ffffff;
  --theme-switcher-icon-background: light-dark(#777777, #333333);
  --theme-switcher-transition: 0.25s;

  display: inline-flex;
  justify-content: start;
  width: calc((var(--theme-switcher-icon-size)) * 2.3);
  padding: var(--theme-switcher-padding);
  border: 0;
  border-radius: var(--theme-switcher-radius);
  outline: var(--theme-switcher-border-size) solid
    var(--theme-switcher-border-color);
  background-color: var(--theme-switcher-background);
  line-height: 0;
  cursor: pointer;

  &::before {
    content: "";
    flex: 0 0 0;
    transition: var(--theme-switcher-transition) flex-grow;
    will-change: flex-grow;
  }

  & * {
    pointer-events: none;
  }

  & > .theme-icon {
    padding: 2px;
    transition: var(--theme-switcher-transition) rotate;
    border-radius: 50%;
    background-color: var(--theme-switcher-icon-background);
    color: var(--theme-switcher-icon-color);
    rotate: 0deg;
  }

  & [class^="theme-icon-"] {
    width: var(--theme-switcher-icon-size);
    height: var(--theme-switcher-icon-size);
  }

  &[aria-pressed="true"] {
    & > .theme-icon {
      rotate: 240deg;
    }

    & .theme-icon-light {
      display: none;
    }

    &::before {
      flex: 1 0 0;
    }
  }

  &[aria-pressed="false"] {
    & .theme-icon-dark {
      display: none;
    }
  }
}

/* ----------------------------------
 * Navigation
 * ----------------------------------
 */

/* Navigation principale */
.nav-main {
  display: none;

  @media (width >=
 64rem) {
    display: block;
    display: grid;
    position: fixed;
    right: var(--spacing-24);
    gap: var(--spacing-12);

    @media (width >= 80rem) {
      right: var(--spacing-36);
    }
  }
}

/* Animations navigation au scroll */

/*
    timeline-scope permet à :root d'être le référent */
:root {
  timeline-scope: --section-1, --section-2, --section-3, --section-4,
    --section-5, --section-6;
} /* view-timeline désigne l'élément qui parcours la fenêtre */
.section:nth-of-type(1) {
  view-timeline: --section-1;
}

.section:nth-of-type(2) {
  view-timeline: --section-2;
}

.section:nth-of-type(3) {
  view-timeline: --section-3;
}

.section:nth-of-type(4) {
  view-timeline: --section-4;
}

.section:nth-of-type(5) {
  view-timeline: --section-5;
}

.section:nth-of-type(6) {
  view-timeline: --section-6;
}

.nav-link {
  padding: var(--spacing-4) var(--spacing-12);
  animation-name: reveal, exit;
  animation-duration: auto;
  animation-timing-function: linear;
  border-right: 8px solid oklch(0% 0 0 / 20%);
  text-align: end;
  text-decoration: none;
  animation-range:
    entry 0% entry 100%,
    exit 0% exit 100%;
  animation-fill-mode: both;

  &:nth-of-type(1) {
    animation-timeline: --section-1;
  }

  &:nth-of-type(2) {
    animation-timeline: --section-2;
  }

  &:nth-of-type(3) {
    animation-timeline: --section-3;
  }

  &:nth-of-type(4) {
    animation-timeline: --section-4;
  }

  &:nth-of-type(5) {
    animation-timeline: --section-5;
  }

  &:nth-of-type(6) {
    animation-timeline: --section-6;
  }
}

@keyframes reveal {
  to {
    border-right: var(--spacing-8) solid;
  }
}

@keyframes exit {
  to {
    border-right: var(--spacing-8) solid oklch(0% 0 0 / 20%);
  }
}

/* ----------------------------------
 * Title
 * ----------------------------------
 */

.title-main {
  color: var(--color-title);
  font-weight: var(--font-weight-light);
  text-align: center;

  @media (width >= 64rem) {
    text-align: end;
  }
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
  .title-link {
    display: inline-block;
    transition: background 1s;
    background-clip: text;
    background-image: linear-gradient(
      to right,
      var(--color-orange-50),
      var(--color-hotpink)
    );
    text-decoration: none;
    -webkit-text-fill-color: transparent;

    [data-theme="dark"] & {
      background-image: linear-gradient(
        to right,
        var(--color-orange-30),
        var(--color-hotpink)
      );
    }

    &:hover,
    &:focus {
      background-position: 12rem center;
    }
  }
}

.title-subtitle {
  margin-block: var(--spacing-10);
  color: var(--color-subtitle);
  font-family: var(--font-calendas);
  font-size: var(--text-h3-level);
  font-weight: var(--font-weight-light);
  text-align: center;
  font-feature-settings: "swsh", "liga", "dlig";

  @media (width >= 64rem) {
    text-align: end;
  }
}

/* ----------------------------------
 * Socials
 * ----------------------------------
 */

.social-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  gap: var(--spacing-8);

  @media (width >= 64rem) {
    justify-content: end;
  }
}

.social-item {
  margin-bottom: 0;
}

.social-link {
  display: inline-block;
  padding: var(--spacing-10);

  @media (width >= 64rem) {
    padding: var(--spacing-4);
  }

  & svg {
    transition: 0.25s scale;
  }

  &:hover svg,
  &:focus svg {
    scale: 1.2;
  }
}

/* ----------------------------------
 * Formations
 * ----------------------------------
 */

.formation-figure {
  margin-inline: 0;
  padding-inline: 0;

  & img {
    border-radius: var(--radius-md);
  }

  & figcaption {
    margin-top: var(--spacing-4);
    font-size: var(--text-14);
    font-style: italic;
  }
}

.book-item img {
  width: auto;
  height: 150px;

  @media (width >= 64rem) {
    height: 200px;
  }
}

.conf-item img {
  width: auto;
  height: 150px;

  @media (width >= 64rem) {
    height: 250px;
  }
}

/* ----------------------------------
 * Univers
 * ----------------------------------
 */

.logo-item {
  padding: var(--spacing-16);
  border-radius: var(--radius-md);
  background-color: oklch(100% 0 0 / 80%);

  & img {
    width: auto;
    height: 50px;
  }
}

.codepen {
  width: 300px;
}

.codepen-box {
  margin-top: var(--spacing-24);
}

.codepen-box-link {
  margin-inline: 0;
  padding-inline: 0;
}

/* ----------------------------------
 * Biopic
 * ----------------------------------
 */

.biopic-img {
  margin-inline: auto;
  animation: blob auto linear both;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  box-shadow: 3px 3px 7px oklch(0% 0 0 / 30%);
  animation-timeline: scroll(root);
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* ----------------------------------
 * Footer
 * ----------------------------------
 */

.footer {
  padding: var(--spacing-16);
  border-radius: var(--radius-md);
  background-color: var(--layer);

  & a {
    color: var(--color-link-invert);
  }
}

/* ----------------------------------
 * To top
 * ----------------------------------
 */

/* Scroll to top */
a.to-top {
  display: none;

  @media (width < 64rem) {
    display: inline-grid;
    position: fixed;
    z-index: 100;
    right: var(--spacing-24);
    bottom: var(--spacing-20);
    width: var(--spacing-36);
    height: var(--spacing-36);
    animation: scroll-top auto linear forwards;
    border-radius: 50%;
    background: var(--color-orange-50);
    box-shadow: 0 0 4px oklch(0% 0 0 / 30%);
    color: var(--color-white);
    font-weight: var(--font-weight-extrabold);
    line-height: 1;
    text-decoration: none;
    place-content: center;
    animation-timeline: scroll(root);
    animation-range: 0 150dvh;
  }

  &:focus,
  &:focus-visible {
    background: var(--color-orange-50);
    color: var(--color-white);
  }
}

@keyframes scroll-top {
  0%,
  90% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
