/* ----------------------------------
 * Header
 * ----------------------------------
 */

.header {
  @media (width >= 62rem) {
    position: fixed;
    left: var(--spacing-24);
    max-width: 12rem;
  }

  @media (width >= 87.5rem) {
    left: var(--spacing-36);
  }
}

/* ----------------------------------
 * Formations
 * ----------------------------------
 */

.formation-figure {
  margin-inline: 0;
  padding-inline: 0;

  & img {
    border-radius: var(--border-radius-md);
  }

  & figcaption {
    margin-top: var(--spacing-4);
    font-style: italic;
    font-size: var(--font-size-14);
  }
}

.book-item img {
  height: 150px;

  @media (width >= 62rem) {
    height: 200px;
  }
}

.conf-item img {
  height: 150px;

  @media (width >= 62rem) {
    height: 250px;
  }
}

/* ----------------------------------
 * Univers
 * ----------------------------------
 */

.logo-item {
  padding: var(--spacing-16);
  border-radius: var(--border-radius-md);
  background-color: rgba(255, 255, 255, 0.8);
}
.logo-item img {
  height: 50px;
}
.codepen {
  width: 300px;
}
.codepen-box {
  margin-top: var(--spacing-24);
}
.codepen-box-link {
  margin-inline: 0;
  padding-inline: 0;
}
