@layer reset, theme, components, utilities;

@import "/assets/css/bretzel-reset.css" layer(reset);
@import "/assets/css/bretzel-print.css" layer(reset);
@import "/assets/css/bretzel-layouts.css" layer(reset);
@import "/assets/css/commons.css" layer(components);
@import "/assets/css/layout.css" layer(components);
@import "/assets/css/partials.css" layer(components);

/* ----------------------------------
 * Theme
 * ----------------------------------
 */

:root {
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-10: #e6e7e8;
  --color-gray-50: #939598;
  --color-gray-90: #414042;
  --color-gray-95: #262527;
  --color-green-50: #3c763d;
  --color-green-60: #275c28;
  --color-orange-20: #ecc984;
  --color-orange-30: #dcaa44;
  --color-orange-50: #c4851c;
  --color-orange-60: #8a6d3b;
  --color-pink-10: #f4cee1;
  --color-pink-60: #8e1d56;
  --color-hotpink: #ff69b4;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-36: 2.25rem;
  --spacing-48: 3rem;
  --spacing-max: 1440px;
  --spacing-medium: clamp(
    var(--spacing-16),
    0.5109rem + 2.1739vw,
    var(--spacing-36)
  );
  --font-calendas: calendas, georgia, serif;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-body: clamp(var(--text-18), 1.0761rem + 0.2174vw, var(--text-20));
  --text-h1-level: clamp(var(--text-30), 1.4348rem + 1.9565vw, var(--text-48));
  --text-h2-level: clamp(var(--text-24), 1.2065rem + 1.3043vw, var(--text-36));
  --text-h3-level: clamp(var(--text-20), 1.0054rem + 1.087vw, var(--text-30));
  --radius-md: 0.5rem;
  --radius-full: 9999px;
}

/* ----------------------------------
 * Classes utilitaires
 * ----------------------------------
 */

@layer utilities {
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    clip-path: inset(50%) !important;
  }
  .offscreen {
    contain-intrinsic-size: auto 500px;
    content-visibility: auto;
  }
  .d-block {
    display: block;
  }
}
