@layer reset, theme, components, utilities;

@import "/assets/css/bretzel-reset.css" layer(reset);
@import "/assets/css/bretzel-print.css" layer(reset);
@import "/assets/css/bretzel-layouts.css" layer(reset);
@import "/assets/css/commons.css" layer(components);
@import "/assets/css/layout.css" layer(components);
@import "/assets/css/partials.css" layer(components);

/* ----------------------------------
 * Theme
 * ----------------------------------
 */

:root {
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-36: 2.25rem;
  --spacing-48: 3rem;
  --spacing-max: 1440px;
  --spacing-medium: clamp(
    var(--spacing-16),
    0.5109rem + 2.1739vw,
    var(--spacing-36)
  );
  --font-calendas: calendas, georgia, serif;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-body: clamp(var(--text-18), 1.0761rem + 0.2174vw, var(--text-20));
  --text-h1-level: clamp(var(--text-30), 1.4348rem + 1.9565vw, var(--text-48));
  --text-h2-level: clamp(var(--text-24), 1.2065rem + 1.3043vw, var(--text-36));
  --text-h3-level: clamp(var(--text-20), 1.0054rem + 1.087vw, var(--text-30));
  --radius-md: 0.5rem;
  --radius-full: 9999px;
  --color-green-05: oklch(100% 0.1 144);
  --color-green-10: oklch(100% 0.11 144);
  --color-green-20: oklch(91% 0.11 144);
  --color-green-30: oklch(81% 0.11 144);
  --color-green-40: oklch(71% 0.11 144);
  --color-green-50: oklch(61% 0.11 144);
  --color-green-60: oklch(51% 0.11 144);
  --color-green-70: oklch(41% 0.11 144);
  --color-green-80: oklch(31% 0.11 144);
  --color-green-90: oklch(21% 0.11 144);
  --color-green-fade: oklch(51% 0.01 144);
  --color-green-bright: oklch(51% 0.21 144);
  --color-orange-05: oklch(100% 0.1 82);
  --color-orange-10: oklch(100% 0.13 82);
  --color-orange-20: oklch(97% 0.13 82);
  --color-orange-30: oklch(87% 0.13 82);
  --color-orange-40: oklch(77% 0.13 82);
  --color-orange-50: oklch(67% 0.13 82);
  --color-orange-60: oklch(57% 0.13 82);
  --color-orange-70: oklch(47% 0.13 82);
  --color-orange-80: oklch(37% 0.13 82);
  --color-orange-90: oklch(27% 0.13 82);
  --color-pink-05: oklch(100% 0.1 355);
  --color-pink-10: oklch(100% 0.16 355);
  --color-pink-20: oklch(94% 0.16 355);
  --color-pink-30: oklch(84% 0.16 355);
  --color-pink-40: oklch(74% 0.16 355);
  --color-pink-50: oklch(64% 0.16 355);
  --color-pink-60: oklch(54% 0.16 355);
  --color-pink-70: oklch(44% 0.16 355);
  --color-pink-80: oklch(34% 0.16 355);
  --color-pink-90: oklch(24% 0.16 355);
  --color-hotpink: oklch(73% 0.2 352);
  --color-gray-05: oklch(97% 0 0);
  --color-gray-10: oklch(90% 0 0);
  --color-gray-20: oklch(80% 0 0);
  --color-gray-30: oklch(70% 0 0);
  --color-gray-40: oklch(60% 0 0);
  --color-gray-50: oklch(50% 0 0);
  --color-gray-60: oklch(40% 0 0);
  --color-gray-70: oklch(30% 0 0);
  --color-gray-80: oklch(20% 0 0);
  --color-gray-90: oklch(10% 0 0);
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
}

/* ----------------------------------
 * Classes utilitaires
 * ----------------------------------
 */

@layer utilities {
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    clip-path: inset(50%) !important;
  }
  .offscreen {
    contain-intrinsic-size: auto 500px;
    content-visibility: auto;
  }
  .d-block {
    display: block;
  }
}
