.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  column-gap: 1em;
}

.content {
  order: -1;
}


/* Reset */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 2rem;
  background: #fff;
  font-family: system-ui;
  font-size: 1.8rem;
  line-height: 1.5;
}

.container *,
footer, 
.footer {
  padding: 1rem;
  color: #fff;
}

.container *:nth-child(1) {
  background: orange;
}
.container *:nth-child(2) {
  background: olivedrab;
}
.container *:nth-child(3) {
  background: cadetblue;
}
.container *:nth-child(4) {
  background: slategray;
}
.container *:nth-child(5) {
  background: chocolate;
}
.container *:nth-child(5) {
  background: darkmagenta;
}
.container *:nth-child(5) {
  background: tomato;
}
.container *:nth-child(5) {
  background: teal;
}
.container *:nth-child(5) {
  background: yellowgreen;
}

footer, .footer {
  background: #333;
}

/* orange, hotpink, olivedrab, cadetblue, slategray, chocolate, darkmagenta, tomato, teal, yellowgreen */
